<div class="container">
  <h1>{{ 'TERMS.TITLE' | translate }}</h1>

  <h2>{{ 'TERMS.SECTION1_TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTION1_TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTION2_TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTION2_TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTION3_TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTION3_TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTION4_TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTION4_TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTION5_TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTION5_TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTION6_TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTION6_TEXT' | translate }}</p>
</div>
