<nav>
<div class="topappbar">
  <div class="nav-header">

    <div class="leading-icon">
      <img [routerLink]="['/']" src="./assets/img/Logo.png" alt="Logo"  />
    </div>
    <div [routerLink]="['/']" class="headline">Digital Veltrix</div>
  </div>
  <div style="display: flex; align-items: center; gap: 10px;">


    <button class="btn" (click)="scrollToId('nosotros')">Quiénes Somos</button>
    <button class="btn" (click)="scrollToId('servicios')">Qué Ofrecemos</button>
    <button class="btn" (click)="scrollToId('contacto')">Contáctanos</button>

  </div>
</div>



</nav>

